<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <title>Ajax post-it's!</title>
</head>
<body>
    <div id="board">Place Holder for sticky notes</div>
    <div class="container" id="main">
        <form action="/postit/create" method="POST" id="newPost">
        {% csrf_token %}
        <label for="note">Add Note: <textarea name="note" id="note" cols="30" rows="5"></textarea></label>
        <input type="submit" value="Post It!">
        </form>

    </div>
    <script>
        $('#newPost').submit(function(e){
            e.preventDefault()
            $.ajax({
                url: $(this).attr('action'),
                method: 'post',
                data: $(this).serialize(),
                success: function (serverResponse){
                    $('#board').html(serverResponse)
                }
            })
        })
    </script>
</body>
</html>