*{
    font-family: 'Kalam', cursive;
    margin: 0 auto;
}
div{
    vertical-align: top;
}
.container{
    margin: 1%;
    border: 1px solid red;
    box-sizing: border-box;
    background-image: url("images/cork-board.jpg");
}
#allNotes, #newNote{
    display: inline-block;
}
#allNotes{
    width: 60%;
    height: 98%;
}
#noteForm{
    background-color: rgb(252, 252, 29);
    box-shadow: 3px 3px black;
    border: 1px solid black;
    margin: 2em;
    display: inline-block;
    box-sizing: border-box;
}
#noteForm label, textarea{
    display: block;
    margin: 2em;
    text-align: center;
}
input, textarea{
    background-color: rgb(255, 253, 138);
}
textarea{
    margin-left: 3em;
}

.draggable {
    width: 10%;
    height: 30%;
    padding: 0.5em;
    float: right;
    margin: 1em;
    cursor:move;
    vertical-align: top;
    text-align: center;
    border: 0.5px solid black;
    position: absolute;
}
.draggable{
    background-color: yellow;
    box-shadow: 3px 3px black;
}
.algorithm{
    background-color: rgb(255, 171, 44);
    box-shadow: 3px 3px black;
}
.django{
    background-color: rgb(0, 217, 255);
    box-shadow: 3px 3px black;
}
.python{
    background-color: rgb(81, 255, 0);
    box-shadow: 3px 3px black;
}
.project{
    background-color: rgb(255, 0, 234);
    box-shadow: 3px 3px black;
}
.error{
    color: red;
    margin-bottom: 2em;
    margin-left: 1em;
    font-size: 45px;
}
#logout{
    margin-top: 1em;
    margin-left: 90%;
    font-size: 20px;
    color: blue;
    background: rgba(192, 192, 192, 0.616);
    border-radius: 5px;
}